<div class="form-group">
    <div class="col-md-4">
        @Admin_Resources.LblCheckIfActive
    </div>
    <div class="col-md-8">
        <input name="chkIsActive" id="chkIsActive" class="ace ace-switch ace-switch-5" type="checkbox" checked="checked" tabindex="2" />
        <span class="lbl"> </span>

    </div>
</div>