<div class="form-group">
    <div class="col-sm-4 required">
        @Admin_Resources.LblStartdate <span style="color: #FF0000; font-weight: bold">*</span>
    </div>
    <div class="col-sm-8">
        <div class="input-group">
            <input type="text" id="txtStartDate" name="txtStartDate" class="form-control datePicker" placeholder="Select Start Date" data-inputmask="'alias': 'date'" />
            <span class="input-group-addon"><i id="imgTodt" class="fa fa-calendar"></i></span>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 required">
        @Admin_Resources.LblEnddate <span style="color: #FF0000; font-weight: bold">*</span>
    </div>
    <div class="col-sm-8">
        <div class="input-group">
            <input type="text" id="txtEndDate" name="txtEndDate" class="form-control datePicker" placeholder="Select End Date" data-inputmask="'alias': 'date'" />
            <span class="input-group-addon"><i id="imgTodt" class="fa fa-calendar"></i></span>
        </div>
    </div>
</div>