<div class="form-group">
    <div class="col-sm-4 required">
        @Admin_Resources.LblStarttime <span style="color: #FF0000; font-weight: bold">*</span>
    </div>
    <div class="col-sm-8">
        <div class="input-group bootstrap-timepicker timepicker">
            <div class="input-group clockpicker pull-center" data-align="top" data-autoclose="true" placement="bottom">
                <input id="txtSessionStarttime" type="text" class="form-control" value="">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 required">
        @Admin_Resources.LblEndtime<span style="color: #FF0000; font-weight: bold">*</span>
    </div>
    <div class="col-sm-8">
        <div class="input-group bootstrap-timepicker timepicker">
            <div class="input-group clockpicker pull-center" data-align="top" data-autoclose="true" placement="bottom">
                <input id="txtSessionEndtime" type="text" class="form-control" value="">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </div>
</div>